:root {
  --blue: #0065fc;
  --lightblue: #deebff;
  --grey: #f2f2f2;
  --high: 60px;
  --medium: 30px;
  --low: 15px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  transition: all 0.5s;
}

a:hover {
  color: var(--blue);
  transform: scale(1.05);
}

.body--primary,
.main--primary {
  display: flex;
  flex-direction: column;
  gap: var(--high);
}

.header--primary {
  max-width: 1440px;
  width: calc(100% - (2 * var(--high)));
  margin: auto var(--high);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: var(--high);
  height: auto;
}

.header__ul {
  display: flex;
  flex-direction: row;
  gap: var(--high);
}

.header__list-item {
  border-top: 2px solid rgba(255, 255, 255, 0);
  padding: var(--medium) 0;
}

.header__list-item:hover {
  border-top: 2px solid var(--blue);
}

.main__section--primary {
  display: flex;
  flex-direction: column;
  gap: var(--low);
  max-width: 1440px;
  width: calc(100% - (2 * var(--high)));
  margin: auto var(--high);
}

.main__section--primary__form {
  display: flex;
}

.main--primary__section--primary__form {
  padding: var(--low);
  border: 1px solid var(--grey);
  border-radius: var(--low) 0 0 var(--low);
  background-color: var(--grey);
}

.main--primary__section--primary__input {
  padding: var(--low);
  border: 1px solid var(--grey);
}

.main--primary__section--primary__input:not(:placeholder-shown) {
  font-weight: bold;
}

.main--primary__section--primary__button {
  padding: var(--low);
  background-color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 0 var(--low) var(--low) 0;
  font-weight: bold;
  color: white;
}

.main--primary__section--primary__div {
  display: flex;
  flex-direction: row;
  gap: var(--low);
  align-items: center;
}

.main--primary__section--primary__div__p {
  font-weight: bold;
}

.main--primary__section--primary__div__ul {
  display: flex;
  flex-direction: row;
  gap: var(--low);
}

.main--primary__section--primary__div__ul__li {
  border: 2px solid var(--grey);
  border-radius: 30px;
  padding: 10px 15px;
  margin-right: 0px;
  transition: all 0.5s;
}

.main--primary__section--primary__div__ul__li:hover {
  cursor: pointer;
  background-color: var(--lightblue);
  border: 2px solid var(--lightblue);
  transform: scale(1.05);
}

.main--primary__section--primary__div__ul__li__i {
  color: blue;
  margin-right: 10px;
}

.footer--primary {
  max-width: 1440px;
  margin: auto var(--high);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--medium);
  background-color: var(--grey);
}

.footer__div,
.footer__div__ul {
  display: flex;
  flex-direction: column;
  gap: var(--low);
}

.footer__div__p,
.main__section--primary__h1 {
  font-weight: bold;
}
