:root {
  --transparent: rgba(0, 0, 0, 0);
  --white: #ffffff;
  --grey: #f2f2f2;
  --black: #000000;
  --lightblue: #deebff;
  --blue: #0065fc;

  --spacing-xxxl: 256px;
  --spacing-xxl: 128px;
  --spacing-xl: 64px;
  --spacing-lg: 32px;
  --spacing-md: 16px;
  --spacing-sm: 8px;
  --spacing-xs: 4px;
  --spacing-xxs: 2px;
  --spacing-xxxs: 1px;

  --element-xxxl: 32px;
  --element-xxl: 28px;
  --element-xl: 24px;
  --element-lg: 20px;
  --element-md: 16px;
  --element-sm: 12px;
  --element-xs: 8px;
  --element-xxs: 4px;
  --element-xxxs: 1px;

  --max-width-desktop: 1440px;
  --max-width-tablet: 1023px;
  --max-width-smartphone: 767px;

  --min-width-desktop: 1024px;
  --min-width-table: 768px;
  --min-width-smartphone: 320px;
}

.main--main {
  display: flex;
  flex-direction: column;
  gap: var();
}

.header--main {
  max-width: 1440px;
  width: calc(100% - (2 * var(--high)));
  margin: auto var(--high);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: var(--high);
  height: auto;
}

.header__nav__list {
  display: flex;
  flex-direction: row;
  gap: var(--high);
}

.header__nav__item {
  border-top: 2px solid rgba(255, 255, 255, 0);
  padding: var(--medium) 0;
}

.header__nav__item:hover {
  border-top: 2px solid var(--blue);
}

.section__searchfilter {
  display: flex;
  flex-direction: column;
  gap: var(--low);
  max-width: 1440px;
  width: calc(100% - (2 * var(--high)));
  margin: auto var(--high);
}

.section__searchfilter__title {
  font-weight: bold;
}

.section__searchfilter__searchform {
  display: flex;
}

.section__searchfilter__searchicon {
  padding: var(--low);
  border: 1px solid var(--grey);
  border-radius: var(--low) 0 0 var(--low);
  background-color: var(--grey);
}

.section__searchfilter__searchinput {
  padding: var(--low);
  border: 1px solid var(--grey);
  width: 175px;
}

.section__searchfilter__searchinput:not(:placeholder-shown) {
  font-weight: bold;
}

.section__searchfilter__searchbutton {
  padding: var(--low);
  background-color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 0 var(--low) var(--low) 0;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.section__searchfilter__filter {
  display: flex;
  flex-direction: row;
  gap: var(--low);
  align-items: center;
}

.section__searchfilter__filtertitle {
  font-weight: bold;
}

.section__searchfilter__filterlist {
  display: flex;
  flex-direction: row;
  gap: var(--low);
}

.section__searchfilter__filteritem {
  border: 2px solid var(--grey);
  border-radius: 30px;
  padding: 10px 15px;
  margin-right: 0px;
  transition: all 0.5s;
  cursor: pointer;
}

.section__searchfilter__filteritem:hover {
  cursor: pointer;
  background-color: var(--lightblue);
  border: 2px solid var(--lightblue);
  transform: scale(100%);
}

.section__searchfilter__filtericon {
  color: blue;
  margin-right: 10px;
}

.section__activite {
  display: flex;
  flex-direction: column;
  gap: var(--medium);
  max-width: 1440px;
  width: calc(100% - (2 * var(--medium)));
  margin: auto var(--medium);
}

.section__activite__title {
  font-weight: bold;
}

.section__activite__itemcontainer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.section__activite__item {
  box-shadow: 0px 0px 5px 5px var(--grey);
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.5s;
}

.section__activite__item:hover {
  transform: scale(100%);
}

.section__activite__img {
  width: 100%;
  height: 375px;
  object-fit: cover;
}

.section__activite__subtitle {
  padding: 20px 10px;
}

.footer--main {
  max-width: 1440px;
  margin: auto var(--high);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--medium);
  background-color: var(--grey);
}

.footer__col,
.footer__list {
  display: flex;
  flex-direction: column;
  gap: var(--low);
}

.footer__title {
  font-weight: bold;
}
